*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.beshy_container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    width: 270px;
    height: 35px;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid violet;
    overflow: hidden;
    outline: none;
}
button{
    width: 100px;
    height: 35px;
    background-color: violet;
    border-radius: 10%;
    border: none;
}
.beshy_output p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    height: 10vh;
    overflow: visible;
}
@media screen and (max-width: 760px) {

    h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    input{
        width: 60%;
        height: 35px;
        font-size: 15px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid violet;
        overflow: hidden;
        outline: none;
    }
    button{
        width: 100px;
        height: 35px;
        background-color: violet;
        border-radius: 10%;
        border: none;
    }
    .beshy_output p {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80vw;
        height: 10vh;
        overflow: visible;
    }
    
}

@media screen and (max-width: 520px) {
    
    .beshy_container{
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    h1{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    input{
        width: 300px;
        height: 35px;
        font-size: 15px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid violet;
        overflow: hidden;
        outline: none;
    }
    button{
        width: 100px;
        height: 35px;
        background-color: violet;
        border-radius: 10%;
        border: none;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,100%);
    }
    .beshy_output p {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80vw;
        height: 10vh;
        overflow: visible;
    }
    
}
