*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.beshy_container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    width: 270px;
    height: 35px;
    font-size: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid violet;
    overflow: hidden;
    outline: none;
}
.beshy_output p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    height: 10vh;
    overflow: visible;
}